.bloglist1-item{
    border-bottom: 1px solid #9aa5b1;
}
.bloglist1-item-top-setion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bloglist1-item-title{

}
.bloglist1-item-date{
    color: #616e7c;
}
.bloglist1-item-description{
    color: #616e7c
}