.password-item{
    display: flex;
    border: 1px solid white;
    padding:10px;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px
}
.password-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #10b981;
    color: white;
}
.password-name{
    font-size: 12px;
    margin: 0px;
    margin-right: 10px;
}
.password-item-password{
    margin:0px;
    margin-right: 10px;
}

.password-item-action img{
    width: 20px;
    height: 20px;
}
.password-item-action{
    display: flex;
    flex-direction: column;
}