.alert-notification-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
}
.alert-notification-container{
    margin-top: 30px;
}
.alert-notification-heading{
    font-size: 42px;
}
.alert-notification-detail{
    margin: 0px 20px;
    width: 100%;
}
.alert-notification-title{
    margin-top: 0px;
}
.alert-notification-message{
    color: #64748b;
}
@media(max-width:568px){
    .alert-notification-heading{
    font-size: 32px;
}
}