.hamburger-header{
    padding:15px 30px;
    border-bottom: 1px solid #dcdcdc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hamburger-header img{
    width: 50px;
}
.hamburger-icon{
    width: 30px;
    height: 30px;
}
.hamburger-popup-content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hamburger-content{
    width: 100% !important;
}