.team-match-page{
  display: flex;
  justify-content: center;
  padding: 60px 0px;
  background-color: blue;
  min-height: 100%;
}
.team-match-content{
  width: 90%;
  color: white;
}
.team-banner{
  width: 100%;
}
.team-banner img{
  width: 100%;
}
.team-card-container {
  margin: 30px auto;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

@media (max-width: 600px) {
  .team-card-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}
