.capital-page{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #93c5fd;
    color: #1e293b;
}
.capital-page-content{
    background-color: white;
    padding: 30px 50px;
    border-radius: 12px;
}

@media(max-width:568px){
    h1{
        font-size: 26px;
    }
    .capital-page-content{
        padding: 30px 30px;
    }
    .capital-text{
        font-size: 12px;
    }
}