.nxttrendz-notfound-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nxttrendz-notfound-image{
    width: 70%;
    max-width: 700px;
}
.nxttrendz-notfound-image img{
    width: 100%;
}