.right-nav-bar {
  color: #475569;
  padding: 20px;
  background-color: #cbd5e1;
  margin-bottom: 20px;
}
.right-nav-ads {
  border: 1px solid #64748b;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 200px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .right-nav-bar {
    margin-bottom: 5px;
  }
  .right-nav-ads-container {
    display: flex;
    width: 97%;
  }
  .right-nav-ads {
    min-width: 50%;
    min-height: 130px;
    margin-right: 10px;
  }
}
