@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.welcome-page{
    font-family: Bree-Serif;
    background-color: #1e293b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.welcome-header{
    font-size: 64px;
    color:#f0bb03;
    margin-bottom: 10px;
}
.welcome-subheader{
    color: white;
    font-size: 24px;
    margin-bottom: 30px;
}
.welcome-btn{
    border-radius: 8px;
    border: 0px;
    padding:10px;
    font-weight: bold;
}