.latestmatch{
    display: grid;
    grid-template-columns: 1fr 1fr 0.9fr;
    max-width: 1300px;
    justify-content: space-between;
    align-items: center;
    background-color: #1e293b;
  border-radius: 12px;
  margin: auto;
  padding: 20px;
  overflow: hidden;
}
.latestmatch-left-section{
    text-align: left;
}

.latestmatch-middle-section{
    max-width: 400px;
}
.latestmatch-middle-section img{
    width: 100%;
}
.latestmatch-right-section{
    text-align: right;
}
@media(max-width:600px){
    .latestmatch{
        grid-template-columns: 1fr 0.5fr;
    }
    .latestmatch-right-section{
        grid-column-start: 1;
        grid-column-end: 3;
        border-top: 2px solid white;
    text-align: left;
}
}