.nxttrendz-cart-page {
  max-width: 1200px;
  margin: auto;
  width: 90%;
}
.nxttrendz-cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.nxttrendz-cart-img{
    max-width: 300px;
}
.nxttrendz-cart-img img{
    width: 100%;
}