.registration-form-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.registration-form-container{
    box-shadow: 1px -1px 17px 0px rgba(0,0,0,0.10);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    padding:40px;
}
.registration-form-header{
    color: #ea580c;
}
.registration-form-input-label{
    color: #1e293b;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
}
.registration-form-input-field{
    background-color: #d7dfe9;
    border: 0px;
    padding: 10px;
    border-radius:6px;
    margin-bottom: 20px;
}

.registration-form-error-message{
    color: red;
    font-size: 11px;
}
.registration-form-login-button{
    border-radius: 8px;
    background-color: #0b69ff;
    color: white;
    font-weight: bold;
    border: 0px;
    padding:10px;
    margin: auto;
}
.registration-form-input-error{

}