.faq-page{
    display: flex;
    justify-content: center;
    min-height: 100%;
    background-color: #9aa5b13f;
}
.faq-content{
    margin: 70px 0px; 
    background-color: white;
    border-radius: 12px;
    padding: 0px 40px 40px;
    min-width: 500px;
}
.faq-header{
    font-size: 54px;
    color: #cb8805;
    text-align: center;
}
.faq-loading{
    text-align: center;
    color: #52606d;
}