.appstore-input{
    color: #0f172a;
}

.appstore-input-field img {
    width: 20px;
}

.appstore-input {
    border: 0px;
    background-color: transparent;
    color: #0f172a;
}

.appstore-input:focus {
    outline: 0px;
}

.appstore-input-field {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #7b8794;
    width: 400px;
    margin: 0px 0px 20px;
}

::placeholder {
    color: #7b8794;
}

@media(max-width:568px){
    .appstore-input-field{
        width: 70%;
    }
}