.event-page{
    display: flex;
    min-height: 100%;
}
.event-content{
    background-color: #475569;
   padding: 0px 40px;
   width: 40%;
   align-items: center;
   display: flex;
   flex-direction: column;
}
.event-heading{
    color: white;
}
.event-item-container{
     display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}