.tech-card{
    background-color: white;
    padding:20px;
    border-radius: 24px;
    text-align:initial;
    display: flex;
    flex-direction: column;
}
.iot{
    border-top: 5px solid #00a8e7;
}
.dataScientist{
    border-top: 5px solid #ff4f64;
}
.ml{
    border-top: 5px solid #fcc200;
}
.vr{
    border-top: 5px solid #44c4a1;
}
.card-title{
    color: #171f46;
    margin-bottom: 10px;
}
.card-image{
    width: 80px;
    align-self: flex-end;
}

.card-description{
    color: #64748b;
    font-size: 16px;
    margin-top: 10px;
}