.nxttrendz-products-page {
  max-width: 1200px;
  margin: auto;
  width: 90%;
}
.nxttrendz-products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.nxttrendz-products-img{
    max-width: 400px;
}
.nxttrendz-products-img img{
    width: 100%;
}