.layout-header{
    color: #475569;
    padding: 20px;
    background-color: #cbd5e1;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
}
@media(max-width:768px){
    .layout-header{
        margin-bottom: 5px;
    }
}