.jobby-jobDetail-page {
  background-color: #000000;
  color: white;
  min-height: 100%;
}

.jobby-jobDetail-failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  height: 600px;
}
.jobby-jobDetail-failure-container img {
  width: 100%;
  max-width: 500px;
}
.jobby-jobDetail-failure-text {
  margin-top: 0px;
}
.jobby-jobDetail-failure-heading {
  font-size: 36;
}
.jobby-jobDetail-retry-btn {
  border-radius: 3px;
  background-color: #6366f1;
  color: white;
  font-weight: bold;
  border: 0px;
  padding: 12px 30px;
}
.jobby-jobDetail-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
.jobby-jobDetail-container {
  padding: 60px 50px;
}
@media (max-width: 578px) {
  .jobby-jobDetail-loader-container {
    min-height: 100px;
  }
  .jobby-jobDetail-container {
    padding: 40px 20px;
  }
}
