.cart-item {
  display: flex;
  padding: 20px 30px;
  box-shadow: 1px -1px 17px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-bottom: 15px;
}
.cart-item-container {
  margin-left: 15px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.cart-item-image img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
}
  .cart-item-title {
    margin-top: 0px;
    width: 160px;
  }

.cart-item-brand {
  color: #475569;
}
.cart-item-quantity-control {
  margin: 0px 10px;
}
.cart-item-quantity {
  padding: 0px 5px;
}
.cart-item-quantity-value {
  margin: 0px 10px;
  color: #475569;
  font-weight: bold;
}
.cart-item-last-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-item-price {
  color: #0967d2;
}
.cart-item-delete-icon {
  width: 30px;
  height: 30px;
}
.cart-item-remove {
  display: none;
}
@media (max-width: 658px) {
  .cart-item-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .cart-item-remove {
    display: block;
    color: #475569;
    background-color: transparent;
    border: 0px;
  }
  .cart-item-delete-icon {
    display: none;
  }
  .cart-item-title {
    margin: 0px;
    width: auto;
  }
  .cart-item-brand {
    margin: 10px 0px;
  }
  .cart-item-quantity-control {
    margin: 0;
    margin-bottom: 15px;
  }
  .cart-item-price {
    margin: 0px;
    font-size: 16px;
  }
  .cart-item {
    padding: 10px 10px;
  }
  .cart-item-last-section {
    width: 100%;
  }
}
