.layout-content-section {
  background-color: #f1f5f9;
  padding: 20px;
  color: #475569;
  margin-right: 10px;
}
.layout-content-section-text {
  font-size: 20px;
}
@media (max-width: 578px) {
  .layout-content-section {
    margin-right: 0px;
  }
}
