.notfound-page{
    text-align: center;
    
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.notfound-content{
    max-width:400px ;
}
.notfound-page img{
    width: 100%;
}
.notfound-title{
    color: #6d396b;
}